.transition-fadeInUp {
  transition: 2s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html {
  &.is-animating {
    .transition-fade {
      transition: 0.4s;
      opacity: 0.5;
    }
    .transition-fadeInUp {
      transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }
}